_site/
node_modules/
.DS_Store
js/min.js
js/min.js.map
js/pre.min.js
js/pre.min.js.map
.vscode/
.netlify/
export

# yarn 2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions